@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  font-family: "Bebas Neue";
}
li {
  list-style: none;
}
.footer {
  padding-top: 15px;
  padding-bottom: 100px;
}
.container-footer {
  display: flex;
  justify-content: center;
}
.about__info-item {
  font-size: 100%;
  font-family: "Bebas Neue";
  padding: 13px 20px;
  color: grey;
  border: 1px solid grey;
  cursor: pointer;
  background: transparent;
  transition: 0.3s ease;
}
.about__info-item:not(:last-child) {
  margin-right: 50px;
}
.about__info-item:hover {
  border-radius: 15px;
  transition: 0.3s ease;
  color: white;
  background-color: blue;
  box-shadow: 15px;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 202));
}
.about__info-item:active {
  filter: drop-shadow(0 0 0.75rem red);
}

/* Слайдер */
.slider {
  width: 700px;
  position: relative;
  margin: auto;
  height: 500px;
}
/* Картинка масштабируется по отношению к родительскому элементу */
.slider .item img {
  object-fit: contain;
  width: 700px;
  height: 500px;
}
/* Кнопки вперед и назад */
.slider .previous,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: grey;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .previous:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
/* Анимация слайдов */
.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.gaonutosal {
  float: left;
  width: 37%;
  padding: 0 1em;
}

.pesontedan {
  position: relative;
  margin-bottom: 1px;
  width: 705px;
  color: #f3f1f1;
  overflow: hidden;
}

.pesontedan input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.pesontedan label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #1c3e5d;
  line-height: 3;
  cursor: pointer;
  text-shadow: 0 1px 0 #333131;
  font-size: 17px;
}

.pesontedan-content {
  max-height: 0;
  overflow: hidden;
  background: #0d7b8e;
  transition: max-height 0.4s;
  font-size: 14px;
  color: #fffdfd;
  text-shadow: 0 1px 0 #292727;
}

.pesontedan-content {
  background: #0f6f80;
}
.pesontedan-content p {
  margin: 1em;
}
/* :checked */
.pesontedan input:checked ~ .pesontedan-content {
  max-height: 100vh;
}

/* Icon */
.pesontedan label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.pesontedan input[type="checkbox"] + label::after {
  content: "+";
}
.pesontedan input[type="radio"] + label::after {
  content: "\25BC";
}
.pesontedan input[type="checkbox"]:checked + label::after {
  transform: rotate(315deg);
}
.pesontedan input[type="radio"]:checked + label::after {
  transform: rotateX(180deg);
}

.container-about {
  padding-left: 580px;
  display: block;
  justify-content: center;
}
